<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <ul>
        <% messages.forEach(function(msg) { %>
            <li><strong><%= msg.user %>:</strong> <%= msg.text %> <i><%= msg.added %></i></li>
        <% }); %>
    </ul>

  </body>
</html>
